extends layout.pug

block content

  nav.nav
    a(href='/')
      span(class='fas fa-2x fa-arrow-circle-left')
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1.animate__animated.animate__lightSpeedInLeft.animate__delay-1s #{project.project_name}
        p.animate__animated.animate__lightSpeedInRight.animate__delay-1s #{project.description}

      .project-tech-links-box.box
        h6.animate__animated.animate__lightSpeedInLeft.animate__delay-1s Technologies
        ul.animate__animated.animate__lightSpeedInRight.animate__delay-1s
          each tech in project.technologies 
            li= tech

        a.btn-link(href=`${project.live_link}` target='_blank') Live Demo
        a.btn-link(href=`${project.github_link}` target='_blank') GitHub Repo

    .project-img-box.box
      each v, i in project.image_urls
        if v && i > 0
            img.project-img(src=`${v}`, alt=`Image of ${project.project_name}`)

    nav.nav
      a(href='/')
        span(class='fas fa-2x fa-arrow-circle-left')
        |  Back
